/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14 janv. 2020, 18:27:55
    Author     : tvoiz
*/
body{
    margin: 0;
    padding: 0;
}
.container{
    margin-left: 15px;
    margin-right: 15px;
    width: 98%;
}
.col-sm-6{
    width: 45%;
}
#grga{
    margin-right: 50px;
}
#grdr{
    margin-left: 50px;
}
.btn-primary{
    float: right;
}












		
